<section class="new-about" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartAbout(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title>Welcome! Lets get started</mat-card-title>
      <mat-card-content fxLayout fxLayoutAlign="center">
        <mat-form-field *ngIf="!(isLoading$ | async) && allEntries$ | async">
          <mat-select placeholder="Select Name" ngModel name="entries" required>
            <mat-option
              *ngFor="let entries of allEntries$ | async"
              [value]="entries.name"
            >
              {{ entries.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      </mat-card-content>
      <mat-card-actions
        fxLayout
        fxLayoutAlign="center"
        *ngIf="!(isLoading$ | async)"
      >
        <button
          *ngIf="allEntries$ | async"
          type="submit"
          mat-button
          [disabled]="f.invalid"
        >
          Start
        </button>
        <button
          *ngIf="!(allEntries$ | async)"
          type="button"
          mat-button
          (click)="fetchAllEntries()"
        >
          Fetch Again
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
