.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.container {
  margin-top: -40px;
  max-width: 700px;
  height: 406px;
  background: url("../../../../../assets/images/home-bg.png") no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #51c9ff;
  margin-bottom: 200px;
}

.inner-cards-team-bios {
  margin-top: 30px;
}
