.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba2.jpg");
  background-size: cover;
}
.example-header-team {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.example-header-aislyn {
  background-image: url("https://images.pexels.com/photos/572861/pexels-photo-572861.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
}
.example-header-daniel {
  background-image: url("https://images.pexels.com/photos/803290/pexels-photo-803290.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}
.example-header-andrea {
  background-image: url("https://images.pexels.com/photos/1320608/pexels-photo-1320608.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}
.example-header-alina {
  background-image: url("https://images.pexels.com/photos/35548/golden-eagle-animal-bird-bill.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}

.container {
  margin-top: 10px;
  max-width: 800px;
  min-height: 400px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // background-color: #51c9ff;
}

.inner-cards-team-title {
  min-height: 100px;
  margin-top: 10px;
  border: 1px solid #eceff100;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0), 0 1px 3px 1px rgba(60, 64, 67, 0);
  background-color: rgba(255, 255, 255, 0);
  padding-bottom: 50px;
}

.inner-cards-team-bios {
  min-height: 300px;
  margin-top: 10px;
  border: 1px solid #eceff100;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0), 0 1px 3px 1px rgba(60, 64, 67, 0);
  background-color: rgba(255, 255, 255, 0);
}

.container-outline {
  border: 1px solid #eceff1;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  background-color: white;
  padding-bottom: 200px;
}
