.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.container {
  margin-top: -40px;
  max-width: 700px;
  height: 406px;
  background-color: #c058fe;
}

.inner-cards-team-bios {
  margin-top: 30px;
}
