<div class="background" style="height: 130vh">
  <div class="table-body">
    <mat-card>
      <div fxLayoutAlign="center center">
        <mat-form-field fxFlex="50%" style="text-align: center">
          <input
            matInput
            autocomplete="off"
            style="text-align: center"
            type="text"
            (keyup)="doFilter($event.target.value)"
            placeholder="Search"
          />
        </mat-form-field>
      </div>
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >First Name</mat-header-cell
          >
          <mat-cell *matCellDef="let element" data-label="First Name">{{
            element.firstName
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Last Name</mat-header-cell
          >
          <mat-cell *matCellDef="let element" data-label="Last Name">{{
            element.lastName
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="affiliatedInstitution">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Affiliated Insitution</mat-header-cell
          >
          <mat-cell
            *matCellDef="let element"
            data-label="Affiliated Insitution"
            >{{ element.affiliatedInstitution }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Email</mat-header-cell
          >
          <mat-cell *matCellDef="let element" data-label="Email">{{
            element.email
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="country">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Country</mat-header-cell
          >
          <mat-cell *matCellDef="let element" data-label="Country">{{
            element.country
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="socialMedia">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Social Media</mat-header-cell
          >
          <mat-cell *matCellDef="let element" data-label="Social Media">{{
            element.socialMedia
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="selfID">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Self ID</mat-header-cell
          >
          <mat-cell *matCellDef="let element" data-label="Self ID">{{
            element.selfID
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="gender">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Gender</mat-header-cell
          >
          <mat-cell *matCellDef="let element" data-label="Gender">{{
            element.gender
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="currentCareerStage">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Career Stage</mat-header-cell
          >
          <mat-cell
            *matCellDef="let element"
            data-label="Current Career Stage"
            >{{ element.currentCareerStage }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="branch">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Branch</mat-header-cell
          >
          <mat-cell *matCellDef="let element" data-label="Branch">{{
            element.branch
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="subfieldKeywords">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Subfield Keywords</mat-header-cell
          >
          <mat-cell *matCellDef="let element" data-label="Subfield Keywords">{{
            element.subfieldKeywords
          }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 100]">
      </mat-paginator>
    </mat-card>
  </div>
  <!-- endoftable here -->

  <div fxLayoutAlign="center center" style="margin-top: 50px;">
    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title>Useful Search Terms</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card class="search-card-item">
          <mat-card-subtitle>Self ID</mat-card-subtitle>
          <mat-list>
            <ul>
              <mat-list-item *ngFor="let selfID of selfIDList">
                {{ selfID }}
              </mat-list-item>
            </ul>
          </mat-list>
        </mat-card>

        <mat-card class="search-card-item">
          <mat-card-subtitle>Gender</mat-card-subtitle>
          <mat-list>
            <ul>
              <mat-list-item
                style="padding: 10px;"
                *ngFor="let gender of genderList"
              >
                {{ gender }}
              </mat-list-item>
            </ul>
          </mat-list>
        </mat-card>

        <!-- <mat-card class="search-card-item">
          <mat-card-subtitle>Career Stage</mat-card-subtitle>
          <mat-list>
            <ul>
              <mat-list-item
                style="padding: 10px;"
                *ngFor="let stage of stageList"
              >
                {{ stage }}
              </mat-list-item>
            </ul>
          </mat-list>
        </mat-card>

        <mat-card class="search-card-item">
          <mat-card-subtitle>Branch</mat-card-subtitle>
          <mat-list>
            <ul>
              <mat-list-item
                style="padding: 10px;"
                *ngFor="let branch of branchList"
              >
                {{ branch }}
              </mat-list-item>
            </ul>
          </mat-list>
        </mat-card> -->
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div style="height: 100px; background-color: #212121;"></div>
<!-- "Asian",
    "Indigenous / Native",
    "Lesbian, Gay, Bisexual, Transgender, Queer, LGBTQ+",
    "Multi-Racial",
    "Other Race",
    "Person with a Disability",
    "Black",
    "Latina / Latino or Hispanic",
    "Middle Eastern / North African",
    "Not a Citizen of an Anglophone Country",
    "Pacific Islander",
    "Other Non-White Self-Identification" -->
