body {
  font-family: "Covered By Your Grace", cursive;
  line-height: 1.25;
}
.search-terms {
  padding-top: 40px;
}
.letter {
  padding-right: 10px;
  padding: 5px;
}
.textID {
  color: rgb(114, 112, 112);
  font-size: 15px;
  padding: 5px;
}

.mat-table .mat-row:nth-child(even) {
  background: rgb(230, 230, 230);
}
.mat-table .mat-row:nth-child(odd) {
  background: #fff;
}

.mat-table .mat-row:hover {
  border-color: grey;
  background: rgb(197, 195, 195);
}

@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
    padding-right: 30px;
    padding-left: 30px;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height: 30px;
    margin-bottom: 4%;
  }
  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;

    font-size: 0.85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
  .mat-cell:first-child,
  .mat-footer-cell:first-child,
  .mat-header-cell:first-child {
    padding-left: 0;
  }
  .mat-cell:last-child,
  .mat-footer-cell:last-child,
  .mat-header-cell:last-child {
    padding-right: 0;
  }
}

.background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 150vh;
}
.filter-card {
  margin-top: 20px;
  width: 95%;
  max-width: 700px;
}
.table-body {
  padding-top: 50px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}
.search-card {
  width: 95%;
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}
.remove-orange-border {
  outline: none;
  border: 0;
}
.search-card-item {
  margin-top: 5px;
}

ul {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}

.center-button {
  text-align: center;
  padding-bottom: 30px;
}

@media only screen and (max-width: 740px) {
  ul {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
  }
}
