<section id="intro-section" class="home-intro-section">
  <div>
    <div class="two-card-container">
      <mat-card class="main-text-card" fxFlex="">
        <h1 class="title">
          Diversify Computer Science
        </h1>
        <div class="subtitle">
          Highlighting the Diverse Community of Computer Scientists.<br />
        </div>
        <div class="intro-list" fxLayout="column" fxLayoutGap="30px">
          <div>
            <mat-icon>assignment</mat-icon><span fxFlex="20px"></span>Nominate
            yourself to be part of the list
          </div>
          <div>
            <mat-icon>search</mat-icon><span fxFlex="20px"></span>
            Browse the list to identify participants with diverse perspectives
          </div>
          <div>
            <mat-icon>public</mat-icon><span fxFlex="20px"></span>Learn more
            about Diversify CompSci and our mission
          </div>
        </div>

        <div class="center-button">
          <button
            class="create-account-button"
            mat-raised-button
            mat-lg-button
            routerLink="/login"
          >
            <mat-icon>person_add</mat-icon> Create My Account / Login
          </button>
        </div>
      </mat-card>

      <img
        class="hero-image"
        src="../../../../../assets/images/undraw_online_collaboration_7pfp.svg"
        alt="online collaboration"
      />
    </div>
  </div>
</section>
