<section id="intro-section" class="home-intro-section">
  <div
    class="container"
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutWrap="nowrap"
    fxLayoutGap="30px"
    fxLayoutAlign="center center"
  >
    <mat-card class="middle-container">
      <div fxFlex="">
        <h1 class="home-intro-title">Diversify Computer Science</h1>
        <div class="home-intro-desc">
          Highlighting the Diverse Community of Computer Scientists.<br />
        </div>
        <div class="intro-list" fxLayout="column" fxLayoutGap="30px">
          <div fxFlex="100">
            <mat-icon color="">edit</mat-icon
            ><span fxFlex="20px"></span>Nominate yourself to be part of the list
          </div>
          <div fxFlex="100">
            <mat-icon color="">search</mat-icon><span fxFlex="20px"></span>
            Browse the list to identify participants with diverse perspectives
          </div>
          <div fxFlex="100">
            <mat-icon color="">public</mat-icon><span fxFlex="20px"></span>Learn
            more about Diversify CompSci and our mission
          </div>
        </div>
        <div
          fxLayout="row"
          fxLayout.lt-sm="column"
          fxLayoutAlign="center center"
        >
          <button
            mat-raised-button
            mat-lg-button
            color=""
            class="create-account-button"
          >
            <mat-icon>edit</mat-icon> Create My Account
          </button>
          <span fxFlex="20px"></span>
          <button mat-raised-button mat-lg-button id="frontend-btn">
            <mat-icon>person</mat-icon>Login
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</section>
