.home-intro-section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 250px 0px;
  color: rgb(20, 20, 20);
  overflow: hidden;
}

.two-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-text-card {
  // removes the background color
  background-color: rgba(255, 255, 255, 0);
  // removes the shadow effect
  transition: none !important;
  box-shadow: none !important;
  min-width: 320px;
  max-width: 700px;
}

// Container for the button.
.center-button {
  text-align: center;
}

.create-account-button {
  background-color: rgb(20, 20, 20);
  color: white;
  margin-top: 30px;
}

.title {
  margin: 0 0 24px;
  font-size: 48px;
  font-weight: 900;
  line-height: 52px;
}

.subtitle {
  margin: 0 0 40px;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}

.hero-image {
  height: 100%;
  width: 500px;
}

@media(max-width: 700px) {
  .home-intro-section {
    padding-top: 100px;
  }

  .hero-image {
    width: 300px;
  }
}