.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.full-view {
  background-image: linear-gradient(-180deg,
      rgb(248, 215, 208),
      rgb(207, 252, 254),
    );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 100px 0;
  color: rgb(20, 20, 20);
  overflow: hidden;
  min-height: 100vh;
}

.container {
  max-width: 800px;

}

.container-outline {
  border: #eceff100;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0), 0 1px 3px 1px rgba(60, 64, 67, 0);
  background-color: rgba(255, 255, 255, 0);
}

.disclaimer-title {
  text-align: center;
}

.center-image {
  text-align: center;
}

.disclaimer-image {
  height: 100%;
  width: 500px;
}

@media (max-width: 700px) {
  .disclaimer-image {
    height: 100%;
    width: 300px;
  }
}