<mat-sidenav-container class="sidenav-container nav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <!-- Side navigation items -->
    <mat-toolbar>Diversify CompSci</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        class="link-color-side-nav top-navigation-link link-color-side-nav"
        routerLink="/table"
        (click)="drawer.toggle()"
      >
        <mat-icon>search</mat-icon>
        <strong>View Entries</strong>
      </a>

      <section *ngIf="afAuth.authState | async as user">
        <a
          mat-list-item
          class="link-color-side-nav top-navigation-link link-color-side-nav"
          routerLink="/entryform"
          (click)="drawer.toggle()"
        >
          <mat-icon>assignment</mat-icon>
          <strong>Create / Edit Entry</strong>
        </a>
      </section>

      <a
        mat-list-item
        class="link-color-side-nav top-navigation-link link-color-side-nav"
        routerLink="/contact"
        (click)="drawer.toggle()"
      >
        <mat-icon>chat_bubble_outline</mat-icon>
        <strong>Contact</strong>
      </a>

      <a
        mat-list-item
        class="link-color-side-nav top-navigation-link link-color-side-nav"
        routerLink="/login"
        (click)="drawer.toggle()"
      >
        <mat-icon>person</mat-icon>
        <strong>My Account</strong>
      </a>

      <!-- <a
        mat-list-item
        class="link-color-side-nav top-navigation-link link-color-side-nav"
        routerLink="/admindashboard"
        (click)="drawer.toggle()"
      >
        <mat-icon>dashboard</mat-icon>
        <strong>Admin Dashboard</strong></a
      > -->
    </mat-nav-list>
  </mat-sidenav>

  <!-- Starting Desktop view -->
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="top-navigation-menu">
      <!-- Top navigation bar items -->
      <div class="home-logo mr-1">
        <a routerLink="/"
          ><img
            src="assets/images/logo.svg"
            alt="Diversify Computer Science Logo"
            class="limit-image-size"
        /></a>
      </div>

      <!-- Push everything to the right -->
      <span class="spacer"></span>

      <!-- Magnifying glass, view entries -->
      <div class="top-navigation-link hide-when-mobile">
        <a class="link-color" pageScroll href="#table">
          <!-- <a class="link-color " routerLink="/table"> -->
          <button mat-button class="remove-orange-border text-shadow">
            <mat-icon>search</mat-icon>
            <strong>View Entries</strong>
          </button>
          <!-- </a> -->
        </a>
      </div>

      <!-- Pencil, write an entry -->
      <section *ngIf="afAuth.authState | async as user">
        <div class="top-navigation-link hide-when-mobile">
          <a class="link-color" routerLink="/entryform">
            <button mat-button class="remove-orange-border text-shadow">
              <mat-icon>edit</mat-icon>
              <strong>Create / Edit Entry</strong>
            </button>
          </a>
        </div>
      </section>

      <!-- Text bubble, contact -->
      <div class="top-navigation-link hide-when-mobile">
        <a class="link-color" routerLink="/contact">
          <button mat-button class="remove-orange-border text-shadow">
            <mat-icon>chat_bubble_outline</mat-icon>
            <strong>Contact</strong>
          </button></a
        >
      </div>

      <!-- Person, Login -->

      <div class="top-navigation-link hide-when-mobile">
        <a class="link-color" routerLink="/login">
          <button mat-button class="remove-orange-border text-shadow">
            <mat-icon>person</mat-icon>
            <strong>My Account</strong>
          </button></a
        >
      </div>

      <!-- Dashboard, Admin -->
      <!-- <section *ngIf="isAdmin === 'true'">
        <section *ngIf="afAuth.authState | async as user">
          <div class="top-navigation-link hide-when-mobile">
            <a class="link-color" routerLink="/admindashboard">
              <button mat-button class="remove-orange-border text-shadow">
                <mat-icon>dashboard</mat-icon>
                <strong>Admin Dashboard</strong>
              </button>
            </a>
          </div>
        </section>
      </section> -->

      <!-- Hamburger Menu -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        class="hamburger-hide"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>

    <!-- ng-content is where the rest of the website will go -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
