<header id="home-header" [ngClass]="{ 'header-fixed': isFixed }">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
    <!-- TODO: Implement routing for all links -->
    <div
      class="header-mobile-top"
      fxLayout="row"
      fxLayoutWrap="wrap"
      fxLayoutAlign="start center"
    >
      <div class="home-logo mr-1">
        <a routerLink="/"
          ><img src="assets/images/logo-full.png" alt="Egret logo"
        /></a>
      </div>
      <button mat-icon-button id="menu-toggle" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div fxFlex class="top-menu">
      <a routerLink="/table" (click)="toggleMenu()">
        <button
          mat-button
          id="dashboard-topbtn"
          class="hometop-btn icon-button black-text"
        >
          <mat-icon>search</mat-icon>
          <strong>View Entries</strong>
        </button>
      </a>

      <a routerLink="/entryform" (click)="toggleMenu()">
        <button
          mat-button
          id="dashboard-topbtn"
          class="hometop-btn icon-button black-text"
          scrollTo="portfolio-section"
        >
          <mat-icon>edit</mat-icon>
          <strong>Write an Entry</strong>
        </button></a
      >
      <a routerLink="/" (click)="toggleMenu()">
        <button
          mat-button
          id="dashboard-topbtn"
          class="hometop-btn icon-button black-text"
          scrollTo="contact-section"
        >
          <mat-icon>chat_bubble_outline</mat-icon>
          <strong>Contact</strong>
        </button></a
      >

      <span fxFlex></span>

      <a routerLink="/login" (click)="toggleMenu()">
        <button
          mat-button
          id="dashboard-topbtn"
          class="hometop-btn icon-button black-text"
          scrollTo="service-section"
        >
          <mat-icon>person</mat-icon>
          <strong>Login</strong>
        </button></a
      >

      <a routerLink="/" (click)="toggleMenu()">
        <button
          mat-button
          id="dashboard-topbtn"
          class="hometop-btn icon-button black-text"
          scrollTo="testimonials-section"
        >
          <mat-icon>person_outline</mat-icon>
          <strong>Logout</strong>
        </button></a
      >
      <!-- TODO: implement (click)="onLogout()" functionality -->
      <a routerLink="/signup" (click)="toggleMenu()">
        <button
          mat-button
          id="dashboard-topbtn"
          class="hometop-btn icon-button black-text"
          scrollTo="pricings-section"
        >
          <mat-icon>person_add</mat-icon>
          <strong>Signup</strong>
        </button>
      </a>
    </div>
  </div>
</header>
