<header id="home-header" [ngClass]="{ 'header-fixed': isFixed }">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
    <!-- TODO: Implement routing for all links -->
    <div
      class="header-mobile-top"
      fxLayout="row"
      fxLayoutWrap="wrap"
      fxLayoutAlign="start center"
    >
      <div class="home-logo mr-1">
        <a href="/"
          ><img src="assets/images/logo-full.png" alt="Egret logo"
        /></a>
      </div>
      <button mat-icon-button id="menu-toggle" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div fxFlex class="top-menu">
      <button
        mat-button
        id="dashboard-topbtn"
        class="hometop-btn icon-button"
        [routerLink]="'/'"
      >
        <mat-icon>search</mat-icon>
        <strong> <a routerLink="/entryform">View Entries</a></strong>
      </button>

      <button
        mat-button
        id="dashboard-topbtn"
        class="hometop-btn icon-button"
        scrollTo="portfolio-section"
      >
        <mat-icon>edit</mat-icon>
        <strong><a routerLink="/table">Write an Entry</a></strong>
      </button>

      <button
        mat-button
        id="dashboard-topbtn"
        class="hometop-btn icon-button"
        scrollTo="contact-section"
      >
        <mat-icon>chat_bubble_outline</mat-icon>
        <strong><a routerLink="/">Contact</a></strong>
      </button>

      <span fxFlex></span>

      <button
        mat-button
        id="dashboard-topbtn"
        class="hometop-btn icon-button"
        scrollTo="service-section"
      >
        <mat-icon>person</mat-icon>
        <strong><a routerLink="/login">Login</a></strong>
      </button>

      <button
        mat-button
        id="dashboard-topbtn"
        class="hometop-btn icon-button"
        scrollTo="testimonials-section"
      >
        <mat-icon>person_outline</mat-icon>
        <strong><a routerLink="/">Logout</a></strong>
      </button>
      <!-- TODO: implement (click)="onLogout()" functionality -->

      <button
        mat-button
        id="dashboard-topbtn"
        class="hometop-btn icon-button"
        scrollTo="pricings-section"
      >
        <mat-icon>person_add</mat-icon>
        <strong><a routerLink="/signup">Signup</a></strong>
      </button>
    </div>
  </div>
</header>
