// Background gradient for the entire page.
.background-image {
  background-image: linear-gradient(-180deg,
      rgb(248, 215, 208),
    );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Holds two cards
.two-card-container {
  min-height: 1000px;
}

// Card 1
.contact-us-card {
  background-color: rgba(255,
      255,
      255,
      0);
  border: none;
  box-shadow: none;
}

// Card 2
.questions-card {
  background-color: rgba(255,
      255,
      255,
      0);
  border: none;
  box-shadow: none;
  max-width: 300px;
}

// Holds the contact-us-card and the questions-card.
.middle-container {
  // Removes the background color.
  background-color: rgba(255, 255, 255, 0);
  // Removes the shadow effect.
  transition: none !important;
  box-shadow: none !important;
  display: flex;
  height: 10%;
  flex-wrap: wrap;
  margin-top: 200px;

}

// Image container and the image itself.
.image-container {
  display: flex;
  justify-content: center;
}

// Adjust image size.
.contact-image {
  height: 100%;
  width: 600px;
}