@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.container {
  margin-top: 10px;
  max-width: 800px;
  min-height: 615px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  // background-color: #c058fe;
}

//Outline effects to stand out properly.
.container-outline {
  border: 1px solid #eceff100;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0), 0 1px 3px 1px rgba(60, 64, 67, 0);
  background-color: rgba(255, 255, 255, 0);
}

.inner-cards-about {
  margin: 5px;
  padding: 5px;
  min-height: 250px;
  border: 1px solid #eceff100;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0), 0 1px 3px 1px rgba(60, 64, 67, 0);
}

.about-top-card-center {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 50px;
  border: 1px solid #eceff100;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0), 0 1px 3px 1px rgba(60, 64, 67, 0);
  background-color: rgba(255, 255, 255, 0);
}

.about-title-font {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  font-family: "Open Sans", sans-serif;
}
.icons-container {
  text-align: center;
}
.icons {
  font-size: 50px;
  margin-left: -15px;
}
.about-subtitle-font {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
  color: #555555;
}

@media (min-width: 1500px) {
  #comp-img {
    background-image: url("../../../../../assets/images/comp.png");
    background-repeat: no-repeat;
    height: 100%;
    max-height: 36.4575rem;
    max-width: 52.48375rem;
    position: absolute;
    width: 100%;
    left: 15px;
  }
}
