<section class="home-section home-cta">
  <div class="container">
    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutWrap="nowrap"
      fxLayoutGap="20px"
    >
      <div fxFlex="66.666">
        <h2>Diversify Computer Science</h2>
        <p>
          We are a global social initative to foster a more diverse Computer
          Science community in academia.
        </p>
      </div>
      <div fxFlex="33.333" fxLayoutAlign="center center">
        <button mat-raised-button mat-lg-button color="primary">
          View Entries
        </button>
      </div>
    </div>
  </div>
</section>
