<div class="background" fxLayoutAlign="center center">
  <div
    fxLayout="column"
    fxLayoutAlign="space-around center"
    class="form-container"
  >
    <mat-card style="width: 95%; margin-bottom: 100px;" class="form-body">
      <mat-card-content
        style="text-align: center; font-size: 30px; padding-bottom: 20px;"
      >
        My Diversify Computer Science Self Nomination
      </mat-card-content>
      <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="space-around stretch">
          <section>
            <form
              style="font-size: large;"
              [formGroup]="userEntryForm"
              (ngSubmit)="submit()"
            >
              <mat-form-field class="example-full-width" style="width: 50%">
                <input
                  matInput
                  placeholder="First Name"
                  formControlName="firstName"
                  required
                  [value]="firstNameData"
                />
              </mat-form-field>
              <mat-form-field class="example-full-width" style="width: 50%">
                <input
                  matInput
                  placeholder="Last Name"
                  formControlName="lastName"
                  required
                  [value]="lastNameData"
                />
              </mat-form-field>
              <mat-form-field class="example-full-width" style="width: 100%">
                <input
                  matInput
                  placeholder="Email"
                  formControlName="email"
                  required
                  [value]="emailData"
                />
              </mat-form-field>

              <mat-form-field class="example-full-width" style="width: 100%">
                <input
                  matInput
                  matGoogleMapsAutocomplete
                  (onAutocompleteSelected)="onAutocompleteSelected($event)"
                  (onLocationSelected)="onLocationSelected($event)"
                  type="establishment"
                  placeholder="Affiliated Institution"
                  formControlName="affiliatedInstitution"
                  required
                  [value]="affiliatedInstitutionData"
                />
              </mat-form-field>

              <mat-form-field class="example-full-width" style="width: 100%">
                <input
                  matInput
                  matGoogleMapsAutocomplete
                  (onAutocompleteSelected)="onAutocompleteSelected($event)"
                  (onLocationSelected)="onLocationSelected($event)"
                  type="regions"
                  placeholder="Country"
                  formControlName="country"
                  required
                  [value]="countryData"
                />
              </mat-form-field>
              <mat-form-field class="example-full-width" style="width: 100%">
                <input
                  matInput
                  placeholder="Social Media"
                  formControlName="socialMedia"
                  [value]="socialMediaData"
                />
              </mat-form-field>
              <mat-form-field class="example-full-width" style="width: 100%">
                <!-- <input matInput placeholder="Self ID" formControlName="selfID" /> -->
                <mat-select
                  placeholder="Self ID"
                  required
                  multiple
                  formControlName="selfID"
                  [value]="selfIDData"
                >
                  <mat-option
                    *ngFor="let selfID of selfIDList"
                    [value]="selfID"
                    >{{ selfID }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <mat-form-field class="example-full-width" style="width: 100%">
                <mat-select
                  matInput
                  placeholder="Gender"
                  formControlName="gender"
                  required
                  [value]="genderData"
                >
                  <mat-option
                    *ngFor="let gender of genderList"
                    [value]="gender"
                    >{{ gender }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <mat-form-field class="example-full-width" style="width: 100%">
                <input
                  matInput
                  placeholder="Current Career Stage"
                  formControlName="currentCareerStage"
                  required
                  [value]="currentCareerStageData"
                />
              </mat-form-field>

              <mat-form-field class="example-full-width" style="width: 100%">
                <input
                  matInput
                  placeholder="Branch (ie. AI, Systems, Cyber Security, Data Science, Games, Web/App Development)"
                  formControlName="branch"
                  required
                  [value]="branchData"
                />
              </mat-form-field>
              <mat-form-field class="example-full-width" style="width: 100%">
                <input
                  matInput
                  placeholder="Subfield Keywords"
                  formControlName="subfieldKeywords"
                  required
                  [value]="subfieldKeywordsData"
                />
              </mat-form-field>
              <!-- google places test -->

              <div style="text-align: center;">
                <button
                  type="submit"
                  class="submit-button"
                  mat-raised-button
                  color="primary"
                >
                  <mat-icon>check_circle_outline</mat-icon>
                  Submit
                </button>
              </div>
            </form>
          </section>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div style="height: 100px; background-color: #212121;"></div>
