/* not using this .welcome currently */

// @media screen and (min-width: 0px) {
//   .background-image {
//     background-image: url("../../assets/images/newBackgroundDiversify.svg");
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
//   }
// }

// @media screen and (min-width: 1001px) {
//   .background-image {
//     background-image: url("../../assets/images/newBackgroundDiversify.svg");
//     background-repeat: no-repeat;
//     background-position: center center;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
//   }
// }

// @media screen and (max-width: 1000px) {
//   .background-image {
//     background-image: url("../../assets/images/newBackground2Diversify.svg");
//     background-repeat: no-repeat;
//     background-position: center center;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
//     background-attachment: fixed;
//   }
// }
.background-image {
  background-image: linear-gradient(
      -122deg,
      rgba(223, 99, 74, 0) 82%,
      rgba(223, 99, 74, 0.9) 82.03%
    ),
    linear-gradient(
      //bottom right
        140deg,
      rgba(223, 99, 74, 0) 82%,
      rgba(183, 53, 100, 1) 82.03%
    ),
    // linear-gradient(3deg, rgba(240, 13, 13, 0) 8%, rgba(255, 7, 7, 0.08) 33%),
      linear-gradient(
        //top right shape
          75deg,
        rgba(218, 11, 11, 0) 80%,
        rgba(243, 181, 80, 0.8) 80.03%
      ),
    linear-gradient(
      //top right shape
        150deg,
      rgba(218, 11, 11, 0) 30%,
      rgba(243, 181, 80, 0.8) 30.03%,
      rgba(243, 181, 80, 0.8) 50%,
      rgba(243, 181, 80, 0) 50.03%
    ),
    linear-gradient(
      -75deg,
      rgba(183, 53, 100, 0) 79%,
      rgba(183, 53, 100, 0.8) 79.03%
    ),
    linear-gradient(
      -150deg,
      rgba(183, 53, 100, 0) 30%,
      rgba(183, 53, 100, 0.8) 30.03%,
      rgba(183, 53, 100, 0.8) 50%,
      rgba(183, 53, 100, 0) 50.03%
    ),
    radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(181, 221, 213) 100%);
}

.welcome {
  text-align: center;
}

.hero-text {
  background: lightcoral;
}

.footer-text {
  background: lightgreen;
}

.row-one {
  text-align: center;
  background: lightblue;
}

.row-two {
  text-align: center;
  background: lightpink;
}

.row-three {
  text-align: center;
  background: lightsalmon;
}

.row-four {
  text-align: center;
  background: lightsalmon;
}

/* For the Shiba Inu */
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

/* For the upper part of the page for view entires */
.view-entries-font {
  font-weight: 600;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bitter", serif;
  font-size: 1.78571429em;
  line-height: 1.5em;
  color: #00274c;
  font-variant-ligatures: common-ligatures;
  -webkit-font-smoothing: antialiased;
  text-align: left;
}

.view-entries-content {
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bitter", serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #00274c;
  font-variant-ligatures: common-ligatures;
  -webkit-font-smoothing: antialiased;
  text-align: left;
}

.bg-blue-purple {
  background: url("../../assets/images/bg-blue-purple.svg") no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-yellow-red {
  background: url("../../assets/images/bg-yellow-red.svg") no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 200px;
}
