<div
  class="welcome"
  fxLayout="column"
  fxLayout.gt-md="row"
  fxLayoutGap.gt-md="20px"
  fxLayoutAlign="center center"
>
  <section>
    <h1>Diversify Computer Science</h1>
    <p>
      Highlighting the diverse community of computer scientists around the
      globe!
    </p>
  </section>
  <section>
    <h1>Entries</h1>
    <p>
      Explore our directory to help identify diverse chemists for hiring,
      seminars, colloquia, and awards.
    </p>
  </section>
  <section>
    <h1>Submit an entry</h1>
    <p>
      Sign up for a Diversify Computer Science account or login to begin your
      self-nomination.
    </p>
  </section>
</div>
