// .background-image {
//   background-image: linear-gradient(
//       //bottom left
//         -122deg,
//       rgba(223, 99, 74, 0) 82%,
//       rgba(223, 99, 74, 0.9) 82.03%,
//       rgba(245, 174, 160, 0.9) 100%
//     ),
//     linear-gradient(
//       //bottom right
//         140deg,
//       rgba(223, 99, 74, 0) 82%,
//       rgba(183, 53, 100, 1) 82.03%,
//       rgb(235, 134, 168) 100%
//     ),
//     // linear-gradient(3deg, rgba(240, 13, 13, 0) 8%, rgba(255, 7, 7, 0.08) 33%),
//       linear-gradient(
//         //top right shape
//           75deg,
//         rgba(218, 11, 11, 0) 90%,
//         rgba(243, 181, 80, 0.8) 90.03%
//       ),
//     linear-gradient(
//       -75deg,
//       rgba(183, 53, 100, 0) 90%,
//       rgba(183, 53, 100, 0.8) 90.03%
//     ),
//     radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(181, 221, 213) 100%);
//   height: 100vh;
// }
.background-image {
  background-image: linear-gradient(-180deg,
      rgb(207, 252, 254),

    );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.mat-card {
  height: 80%;
}

// .middle-container {
//   // removes the background color
//   // background-color: rgba(255, 255, 255, 0);
//   // removes the shadow effect
//   transition: none !important;
//   box-shadow: none !important;
// }

.create-account-button {
  background-color: rgb(20, 20, 20);
  color: white;
}

.home-intro-title {
  margin: 0 0 24px;
  font-size: 48px;
  font-weight: 900;
  line-height: 52px;
}

.shadow-effect {
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.623);
}

.home-intro-desc {
  margin: 0 0 40px;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}

.intro-list {
  margin: 0 0 40px;
}

@media (max-width: 767px) {


  .home-intro-title {
    margin: 0 0 30px;
    font-size: 32px;
    font-weight: 900;
    line-height: 38px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
  }

  .home-intro-desc {
    margin: 0 0 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
  }

}

.container {
  padding-top: 200px;
  height: 100vh;
}

@media (max-width: 700px) {
  .background-image {
    height: 150vh;
  }
}

.remove-orange-border {
  outline: none;
  border: 0;
}