<div class="background">
  <div class="table-body">
    <mat-card>
      <h3 class="align-header-text-center">Admin Dashboard</h3>
      <div fxLayoutAlign="center center">
        <mat-form-field fxFlex="50%" style="text-align: center">
          <input
            matInput
            autocomplete="off"
            style="text-align: center"
            type="text"
            (keyup)="doFilter($event.target.value)"
            placeholder="Search"
          />
        </mat-form-field>
      </div>
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >First Name</mat-header-cell
          >
          <mat-cell *matCellDef="let element" data-label="First Name">{{
            element.firstName
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Last Name</mat-header-cell
          >
          <mat-cell *matCellDef="let element" data-label="Last Name">{{
            element.lastName
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="affiliatedInstitution">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Affiliated Insitution</mat-header-cell
          >
          <mat-cell
            *matCellDef="let element"
            data-label="Affiliated Insitution"
            >{{ element.affiliatedInstitution }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Email</mat-header-cell
          >
          <mat-cell *matCellDef="let element" data-label="Email">{{
            element.email
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="country">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Country</mat-header-cell
          >
          <mat-cell *matCellDef="let element" data-label="Country">{{
            element.country
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="socialMedia">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Social Media</mat-header-cell
          >
          <mat-cell *matCellDef="let element" data-label="Social Media">{{
            element.socialMedia
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="selfID">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Self ID</mat-header-cell
          >
          <mat-cell *matCellDef="let element" data-label="Self ID">{{
            element.selfID
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="gender">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Gender</mat-header-cell
          >
          <mat-cell *matCellDef="let element" data-label="Gender">{{
            element.gender
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="currentCareerStage">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Career Stage</mat-header-cell
          >
          <mat-cell
            *matCellDef="let element"
            data-label="Current Career Stage"
            >{{ element.currentCareerStage }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="branch">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Branch</mat-header-cell
          >
          <mat-cell *matCellDef="let element" data-label="Branch">{{
            element.branch
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="subfieldKeywords">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Subfield Keywords</mat-header-cell
          >
          <mat-cell *matCellDef="let element" data-label="Subfield Keywords"
            >{{ element.subfieldKeywords }}
          </mat-cell>
        </ng-container>

        <!-- approved column -->
        <ng-container matColumnDef="approved">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Approve / Hide</mat-header-cell
          >
          <mat-cell *matCellDef="let element" data-label="Approve / Hide">
            <mat-list>
              <mat-list-item>
                <button
                  class="blue-button"
                  mat-raised-button
                  (click)="approvedEntry(element)"
                  [disabled]="element.approved"
                >
                  {{ element.approved === "true" ? "Approved" : "Approve" }}
                </button>
              </mat-list-item>
              <mat-list-item>
                <button
                  class="red-button"
                  mat-raised-button
                  (click)="hideEntry(element)"
                  [disabled]="element.approved === 'false'"
                >
                  {{ element.approved === "true" ? "Hide" : "Hidden" }}
                </button>
              </mat-list-item>
            </mat-list></mat-cell
          >
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 100, 500]">
      </mat-paginator>
    </mat-card>
  </div>
  <!-- endoftable here -->
</div>
<div style="height: 100px; background-color: #212121;"></div>
