.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.container {
  margin-top: -30px;
  max-width: 650px;
  height: 273px;
  background-color: #f5d600;
  margin-bottom: 233px;
}

.inner-cards-team-bios {
  margin-top: 30px;
}
