.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.container {
  margin-top: 10px;
  max-width: 650px;
  height: 375px;

  background: url("../../../../../assets/images/bg-questions.png") no-repeat
    center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  // background-color: #f5d600;
  // margin-bottom: 0px;
}

.inner-cards-team-bios {
  margin-top: 30px;
}

.contact-us-button {
  color: rgb(20, 20, 20);
  background-color: rgb(255, 255, 255);

  // background-color: rgb(20, 20, 20);
  // color: white;

  margin-top: 20px;
  margin-bottom: 20px;
}

.container-outline {
  border: 1px solid #eceff1;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  background-color: white;
}
